<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>List of books</title>
        <link rel="stylesheet" href="/CSS/style.css"/>
    </head>
    <body>
        <h1>Mes livres : </h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Titre</th>
                <th>Author</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="book : ${books}">
                <td th:text="${book.id}"></td>
                <td th:text="${book.title}"></td>
                <td th:text="${book.author.firstName} + ' ' + ${book.author.name}"></td>
                <!-- CRUD : -->
                <td><a href="#" th:href="@{'/book/' + ${book.id} + '/show'}"> détails </a> </td>
                <td><a href="#" th:href="@{'/book/' + ${book.id} + '/update'}"> modifier </a> </td>
                <td><a href="#" th:href="@{'/book/' + ${book.id} + '/delete'}"> supprimer </a> </td>
            </tr>
        </table>
        <br/>
        <a href="#" th:href="@{'/book/new'}"> Ajouter un livre</a>
    </body>
</html>