<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Liste des éditeurs</title>
        <link rel="stylesheet" href="/CSS/style.css"/>
    </head>
    <body>
        <table>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th></th>
            </tr>
            <tr th:each="publisher : ${publishers}">
                <td th:text="${publisher.id}"></td>
                <td th:text="${publisher.name}"></td>
                <td th:text="${publisher.address} + ' ' + ${publisher.city} + ' ' + ${publisher.zipCode}"></td>
                <td><a href="#" th:href="@{'/publisher/' + ${publisher.id} + '/books'}">livres</a></td>
            </tr>
        </table>
    </body>
</html>